<div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <a href="/order/cart">Cart</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Checkout</strong></div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-5 mb-md-0">
          <h2 class="h3 mb-3 text-black">Billing Details</h2>
          <input type="hidden" name="cart_id" value="<%= cart._id%>">
          <input type="hidden" name="totalPrice" value="<%= total%>">
          <div class="p-3 p-lg-5 border">
            <div class="form-group row">
              <div class="col-md-12">
                <label for="c_address" class="text-black">Address <span class="text-danger">*</span></label>
                <input class="form-control" type="text" name="shippingAddress" id="" value="<%= locals.user.addresses[0]%>" required>
                
              </div>
            </div>
            <!-- <div class="form-group">
              <label for="c_ship_different_address" class="text-black" data-toggle="collapse" href="#ship_different_address" role="button" aria-expanded="false" aria-controls="ship_different_address"><input type="checkbox" value="1" id="c_ship_different_address"> Ship To A Different Address?</label>
              <div class="collapse" id="ship_different_address">
                <div class="py-2">
                  <div class="form-group row">
                    <div class="col-md-12">
                      <label for="c_diff_address" class="text-black">Address <span class="text-danger">*</span></label>
                      <input type="text" class="form-control" id="c_diff_address" name="diff_shippingAddress" placeholder="Street address">
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group">
              <label for="c_paymethod" class="text-black">Payment Method</label>
              <select class="form-control form-select" name="paymentMethod" aria-label="Default select example">
                <option value="1">Direct Bank Transfer</option>
                <option value="2">Cheque Payment</option>
                <option value="3">Paypal</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-12">
              <h2 class="h3 mb-3 text-black">Your Order</h2>
              <div class="p-3 p-lg-5 border">
                <table class="table site-block-order-table mb-5">
                  <thead>
                    <th>Product</th>
                    <th>Total</th>
                  </thead>
                  <tbody>
                    <% for (let i = 0; i < cart.items.length; i++) { %>
                      <tr>
                        <td><%= cart.items[i].itemId.name %> - <%= cart.items[i].itemSize %> - $<%= cart.items[i].itemId.price %> <strong class="mx-2">x</strong><%= cart.items[i].quantity %></td>
                        <td><%= cart.items[i].itemId.price * cart.items[i].quantity%></td>
                      </tr>
                    <% } %>
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Cart Subtotal</strong></td>
                      <td class="text-black">$<%= total %></td>
                    </tr>
                    <tr>
                      <td class="text-black font-weight-bold"><strong>Order Total</strong></td>
                      <td class="text-black font-weight-bold"><strong>$<%= total%></strong></td>
                    </tr>
                  </tbody>
                </table>

                <div class="form-group">
                  <button class="btn btn-primary btn-lg py-3 btn-block" id="submitOrder">Place Order</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>